<h1>Eat-Da-Burger</h1>


<div class="row">
    <div class="column">
        {{#each burgers}}
        {{#if devoured}}
        <div class="row">
            <div class="eachBurger">
                {{id}} {{burger_name}}
            </div>
            <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">Devoure it!</button>
        </div>
        {{/if}}
        {{/each}}
    </div>
    <div class="column">
        {{#each burgers}}
        {{#unless devoured}}
        <div class="row">
            <div class="eachBurgerDevoured">
                {{id}} {{burger_name}}
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
</div>


<div class="row" style="align-items: center; text-align: center">
    <form class="create-form">
        <div class="form-group">
            <label for="ca"></label>
            <input type="text" id="ca" name="name">

        </div>
        <button type="submit" style="margin-top: 7px;">Add Burger</button>
    </form>
    <h5>Enter a burger you wanat to eat. Click The submit button</h5>
</div>